.w-es {
    max-width: 150px;
}
.w-em {
    max-width: 300px;
}
.w-xs {
    max-width: 576px;
}
.w-sm {
    max-width: 768px;
}
.w-md {
    max-width: 992px;
}
.w-lg {
    max-width: 1200px;
}
.w-xl {
    max-width: 1400px;
}

[v-cloak] {
    display: none;
}

