{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_users.js" type="module"></script>

<template id="table_row">
  <td>
    <div v-if="editing">
      <input class="form-control" name="name" type="text" :placeholder="user.name">
      <input type="checkbox" class="btn-check" id="set-admin" name="is_admin" :checked="user.is_admin ? 'checked' : null">
      <label class="btn btn-success btn-sm" for="set-admin"><i class="bi bi-patch-check"></i></label>
    </div>
    <div v-else>
      <span>${user.name} </span>
      <i v-if="user.is_admin" class="bi bi-patch-check-fill text-success" data-bs-toggle="tooltip" data-bs-placement="right" title="Admin"></i>
    </div>
  </td>
  <td>
    <input v-if="editing" class="form-control" name="email" type="email" :placeholder="user.email">
    <span v-else>${user.email}</span>
  </td>
  <td><span>${user.teams?.join(", ")}</span></td>
  <td class="text-end">
    <div class="btn-group btn-group-sm" role="group" v-if="user.id != '{{user.id}}'">
      <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete user" v-if="editing"><i class="bi bi-person-x"></i></button>
      <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit user" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
      <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
    </div>
  </td>
</template>


<div class="col-8" id="app">
  <h3>Users</h3>
  <form id="users-form" v-scope @submit.prevent="send_form">
    <table class="table" id="users">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Teams</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for usr in users %}
        <tr v-scope='TableRow({{usr | tojson}})' {% if user == usr %} class="table-primary" {% endif %}></tr>
      {% endfor %}
      </tbody>
    </table>
  </form>
</div>

{% endblock %}
