{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_teams.js" type="module"></script>

<template id="table_row">
  <td>
    <input v-if="editing" class="form-control" name="name" type="text" :placeholder="team.name">
    <span v-else>${team.name}</span>
  </td>
  <td>
    <input v-if="editing" class="form-control form-control-sm" name="context" type="text" :placeholder="team.context.name">
    <span v-else>${team.context.name}</span>
  </td>
  <td><span>${team.members?.join(", ")}</span></td>
  <td class="text-end">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete team" v-if="editing" @click="delete_team"><i class="bi bi-x-lg"></i></button>
      <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit team" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
      <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
    </div>
  </td>
</template>


<div class="col-8">
  <h3>Teams</h3>
  <form id="team-table" v-scope @submit.prevent="edit_team" class="mb-5">
    <table class="table" id="teams">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Context</th>
          <th scope="col">Members</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for team in teams %}
        <tr v-scope='TableRow({{team | tojson}})'></tr>
      {% endfor %}
      </tbody>
    </table>
  </form>

  <h3>Create new team</h3>
  <form id="create-team" method="post" action="teams/create" class="col-8 mb-5">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating mb-3">
          <input class="form-control form-control-sm" name="name" type="text" required="required" placeholder="blep">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <select class="form-select" id="context-select" name="context">
            {% for context in contexts %}
              <option value="{{context.name}}">{{context.name}}</option>
            {% endfor %}
          </select>
          <label for="context-select">Context</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>

  <h3>Create new context</h3>
  <form id="create-context" method="post" action="teams/create_context" class="col-8 mb-5">
    <div class="form-floating mb-3">
      <input class="form-control form-control-sm" name="name" type="text" required="required" placeholder="blep">
      <label for="name">Name</label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>


{% endblock %}
