{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_users.js" type="module"></script>
<script>
  const users_input = {{users | tojson}}
  const teams_input = {{teams | tojson}}
  const contexts_input = {{contexts | tojson}}
</script>

<script type="text/x-template" id="table_row">
  <tr :class="{'table-info': user.id == '{{user.id}}'}">
    <td>
      ${user.name}
      <i v-if="user.is_admin" class="bi bi-patch-check-fill text-success ms-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Admin"></i>
    </td>
    <td>${user.email}</td>
    <td>${teams_str}</td>
    <td class="text-end">
      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" title="Edit user" data-bs-target="#editModal" @click="open_edit"><i class="bi bi-pencil"></i></button>
    </td>
  </tr>
</script>

<script type="text/x-template" id="hoverBadge">
  <span class="badge rounded-pill m-1" :class="{'text-bg-warning': !hover, 'text-bg-danger': hover}">
    ${team.name}
    <a @click.prevent="remove" href="#" @mouseover="hover = true" @mouseleave="hover = false"><i class="bi bi-x-lg"></i></a>
  </span>
</script>


<div id="app">
  <h3>Users</h3>
  <table class="table table-hover" id="users">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Teams</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr is="vue:table-row" v-for="user in store.users" :user="user" :key="user.id"></tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#createModal">Create new user</button>


  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="name" class="form-label">Name</label>
          <div class="input-group w-em input-group-sm mb-3" name="name">
            <input class="form-control w-em" type="text" v-model="store.edit.edit.name">
            <input type="checkbox" class="btn-check" id="set-admin" name="is_admin" v-model="store.edit.edit.is_admin">
            <label class="btn btn-outline-success btn-sm" for="set-admin" data-bs-toggle="tooltip" title="Admin"><i class="bi bi-patch-check"></i></label>
          </div>
          <label for="email" class="form-label">Email</label>
          <input class="form-control w-em form-control-sm mb-3" name="email" type="email" v-model="store.edit.edit.email">
          <label for="teams" class="form-label mb-0">Teams</label>
          <div class="d-flex flex-row mb-1">
            <div is="vue:hover-badge" v-for="id in store.edit.teams" :team="store.teams[id]"></div>
          </div>
          <select class="form-select form-select-sm w-es m-1" v-model="store.edit.new_team" @change="add_team">
            <option :value="null" selected>Add team</option>
            <option v-for="data in new_teams(store.edit.teams)" :value="data[0]">${data[1].name}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger me-auto" data-bs-toggle="tooltip" title="Delete user" v-if="store.edit.id != '{{user.id}}'" @click="delete_user">Delete user</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-primary" @click="edit_user(store.edit)" data-bs-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Create new user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="name" class="form-label">Name</label>
          <div class="input-group w-em input-group-sm mb-3" name="name">
            <input class="form-control w-em" type="text" v-model="store.new.data.name" required="required">
            <input type="checkbox" class="btn-check" name="is_admin" v-model="store.new.data.is_admin">
            <label class="btn btn-outline-success btn-sm" for="is_admin" data-bs-toggle="tooltip" title="Admin"><i class="bi bi-patch-check"></i></label>
          </div>
          <label for="email" class="form-label">Email</label>
          <input class="form-control w-em form-control-sm mb-3" name="email" type="email" v-model="store.new.data.email" required="required">
          <label for="teams" class="form-label mb-0">Teams</label>
          <div class="d-flex flex-row mb-1">
            <div is="vue:hover-badge" v-for="id in store.new.data.teams" :team="store.teams[id]"></div>
          </div>
          <select class="form-select form-select-sm w-es m-1" v-model="store.new.new_team" @change="user_create_add_team">
            <option :value="null" selected>Add team</option>
            <option v-for="data in new_teams(store.new.data.teams)" :value="data[0]">${data[1].name}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
          <button type="submit" class="btn btn-primary" @click.prevent="create_user(store.new.data)">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="accordion w-xs" id="filtersAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="filterHeading">
        <button class="accordion-button" :class="{ collapsed: !has_params }" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
          Filter
        </button>
      </h2>
      <div id="filters" class="accordion-collapse collapse p-3" :class="{ show: has_params }" aria-labelledby="filterHeading" data-bs-parent="#filtersAccordion">
        <label for="nameFilter" class="form-label">Name</label>
        <input class="form-control w-em" id="nameFilter" type="text" v-model="filter.name">
        <label for="emailFilter" class="form-label mt-3">Email</label>
        <input class="form-control w-em" id="emailFilter" type="text" v-model="filter.email">
        <label for="adminFilter" class="form-label mt-3">User type</label>
        <select class="form-select w-em" id="adminFilter" aria-label="User type filter" v-model="filter.is_admin">
          <option selected value="null">Any</option>
          <option value="true">Admin</option>
          <option value="false">Non Admin</option>
        </select>
        <label for="contextFilter" class="form-label mt-3">Context</label>
        <select class="form-select w-em" id="contextFilter" v-model="filter.context">
          <option :value="null"></option>
          <option v-for="(context, id) in store.contexts" :value="id">${context.name}</option>
        </select>
        <label for="teamFilter" class="form-label mt-3">Team</label>
        <select class="form-select w-em" id="teamFilter" v-model="filter.team">
          <option :value="null"></option>
          <option v-for="(team, id) in store.teams" :value="id">${team.name}</option>
        </select>
        <a class="btn btn-primary mt-3" :href="apply_filters" role="buttom">Apply</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
