{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_teams.js" type="module"></script>
<script>
  var configs = {{configs | tojson}}
</script>


<script type="text/x-template" id="team_row">
  <tr>
    <td>
      <input v-if="editing" class="form-control form-control-sm" name="name" type="text" :placeholder="team.name">
      <span v-else>${team.name}</span>
    </td>
    <td>
      <select v-if="editing" class="form-select form-select-sm" name="context">
        <option v-for="(ctx, id) in store.contexts" :value="id" :selected="id == team.context">${ctx.name}</option>
      </select>
      <span v-else>${store.contexts[team.context].name}</span>
    </td>
    <td><span>${members_str}</span></td>
    <td class="text-end">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete team" v-if="editing" @click="delete_team"><i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit team" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
        <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
      </div>
    </td>
  </tr>
</script>

<script type="text/x-template" id="context_row">
  <tr>
    <td>
      <input v-if="editing" class="form-control form-control-sm" name="name" type="text" :placeholder="context.name">
      <span v-else>${context.name}</span>
    </td>
    <td class="text-end">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete team" v-if="editing" @click="delete_context"><i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit team" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
        <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
      </div>
    </td>
  </tr>
</script>


<div id="app">
  <h3>Configs</h3>
</div>


{% endblock %}
