{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_teams.js" type="module"></script>
<script>
  var teams_input = {{teams | tojson}}
  var contexts_input = {{contexts | tojson}}
  var users_input = {{users | tojson}}
</script>


<script type="text/x-template" id="context_row">
  <tr>
    <td>
      <input v-if="editing" class="form-control form-control-sm" name="name" type="text" :placeholder="context.name">
      <span v-else>${context.name}</span>
    </td>
    <td class="text-end">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete team" v-if="editing" @click="delete_context"><i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit team" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
        <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
      </div>
    </td>
  </tr>
</script>

<script type="text/x-template" id="hoverBadge">
  <span class="badge rounded-pill m-1" :class="{'text-bg-warning': !hover, 'text-bg-danger': hover}">
    ${data.name}
    <a @click.prevent="$emit('remove', data)" href="#" @mouseover="hover = true" @mouseleave="hover = false" title="remove"><i class="bi bi-x-lg"></i></a>
  </span>
</script>

<script type="text/x-template" id="teamWindow">
  <div class="modal fade" id="teamModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" ref="user_modal">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content" @submit.prevent="submit_data">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">
          <span v-if="action == 'edit'">Edit team</span>
          <span v-else>Create new team</span>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="name" class="form-label">Name</label>
          <input class="form-control w-em" type="text" v-model="data.name" :required="action == 'create'">
          <label for="context" class="form-label">Context</label>
          <select class="form-select w-em mb-3" name="context" v-model="data.context" :required="action == 'create'">
            <option v-for="(context, id) in store.contexts" :value="id" :selected="id == data.context">${context.name}</option>
          </select>
          <label for="members" class="form-label mb-0">Members</label>
          <div class="d-flex flex-row mb-1">
            <hover-badge v-for="id in display_members" :data="store.users[id]" @remove="remove_user"></hover-badge>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Add user</h6>
              <div class="row mb-2">
                <div class="col">
                  <label for="searchName" class="form-label">Name</label>
                  <input type="text" class="form-control form-control-sm" id="searchName" v-model="search.name" @input="send_search">
                </div>
                <div class="col">
                  <label for="searchEmail" class="form-label">Email</label>
                  <input type="text" class="form-control form-control-sm" id="searchEmail" v-model="search.email" @input="send_search">
                </div>
              </div>
              <div class="d-flex flex-row">
                <span v-for="(user, id) in search.result" class="badge rounded-pill m-1 text-bg-success">
                  ${user.name}
                  <a href="#" @click.prevent="add_user(user)" title="add">
                    <i class="bi bi-plus-lg text-light"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger me-auto" title="Delete team" v-if="action == 'edit'" @click="delete_team">Delete team</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
          <button type="submit" class="btn btn-primary">${action == "edit" ? "Save" : "Create"}</button>
        </div>
      </form>
    </div>
  </div>
</script>

<div id="app" v-cloak>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contexts">Contexts</a>
    </li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Context</th>
        <th scope="col">Members</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(team, id) in store.teams" :team="team" :key="id">
        <td>${team.name}</td>
        <td>${store.contexts[team.context].name}</td>
        <td>${team.members.map(u => store.users[u].name).join(", ")}</td>
        <td class="text-end">
          <button type="button" class="btn btn-sm btn-warning" title="Edit team" @click="open_modal('edit', team)"><i class="bi bi-pencil"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex mb-3 pe-2">
    <button type="button" class="btn btn-primary btn-sm me-auto" @click="open_modal('create', null)">Create new team</button>
    <button type="button" class="btn btn-primary btn-sm position-relative" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
      <i class="bi bi-funnel-fill"></i>
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" v-if="has_params">
        <span class="visually-hidden">Applied filters</span>
      </span>
    </button>
    {% if max_page != 1 %}
    <nav aria-label="Table pagination">
      <ul class="pagination pagination-sm justify-content-end mb-0 ms-2">
        <li class="page-item"><a class="page-link" :class="{disabled: {{page}} <= 1}" :href="apply_filters(1)"><i class="bi bi-chevron-double-left"></i></a></li>
        <li class="page-item"><a class="page-link" :class="{disabled: {{page}} <= 1}" :href="apply_filters({{page}} - 1)"><i class="bi bi-chevron-compact-left"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
        <li class="page-item"><a class="page-link" :class="{disabled: {{page}} >= {{max_page}}}" :href="apply_filters({{page}} + 1)"><i class="bi bi-chevron-compact-right"></i></a></li>
        <li class="page-item"><a class="page-link" :class="{disabled: {{page}} >= {{max_page}}}" :href="apply_filters({{max_page}})"><i class="bi bi-chevron-double-right"></i></a></li>
      </ul>
    </nav>
    {% endif %}
  </div>

  <div class="d-flex justify-content-end">
    <div class="collapse w-xs" id="filters" aria-labelledby="filterHeading">
      <div class="card card-body">
        <div class="row mb-3">
          <div class="col">
            <label for="nameFilter" class="form-label mb-1">Name</label>
            <input class="form-control w-em" id="nameFilter" type="text" v-model="filter.name">
          </div>
          <div class="col">
            <label for="contextFilter" class="form-label mb-1">Context</label>
            <select class="form-select w-em" id="contextFilter" v-model="filter.context">
              <option :value="null"></option>
              <option v-for="(context, id) in store.contexts" :value="id">${context.name}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="limitFilter" class="form-label mb-1">Limit</label>
            <input class="form-control w-em" id="limitFilter" type="number" min="1" max="200" step="1" v-model="filter.limit">
          </div>
          <div class="col text-end align-self-end">
            <a v-if="has_params" class="btn btn-secondary me-2" href="teams" role="button">Clear</a>
            <a class="btn btn-primary" :href="apply_filters(1)" role="button">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <team-window :team="modal_team" :action="action" :modal="modal"></team-window>
</div>


{% endblock %}
