{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/admin_problems.js" type="module"></script>
<script>
  var problems = {{problems | tojson}}
</script>


<script type="text/x-template" id="problem">
  <div class="accordion-item">
    <h2 class="accordion-header" :id="'heading' + problem.name">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + problem.name" aria-expanded="true" :aria-controls="'collapse' + problem.name">
        ${problem.name}
      </button>
    </h2>
    <div :id="'collapse' + problem.name" class="accordion-collapse collapse show" :aria-labelledby="'heading' + problem.name" data-bs-parent="#problems">
      <form class="accordion-body" @submit.prevent="edit_problem">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>${problem.name}</td>
            </tr>
            <tr>
              <td>File</td>
              <td>${problem.file.name}</td>
            </tr>
            <tr>
              <td>Config</td>
              <td>${problem.config}</td>
            </tr>
            <tr>
              <td>Start</td>
              <td>${problem.start}</td>
            </tr>
            <tr>
              <td>End</td>
              <td>${problem.end}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>${problem.description}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</script>


<div id="app">
  <h3>Problems</h3>
  <div class="accordion" id="problems">
    <problem v-for="(problem, id) in store.problems" :key="id" :problem="problem"></problem>
  </div>

  <h3>Create new team</h3>
  <form id="create-team" @submit.prevent="create_team" class="mb-5">
    <div class="row g-2">
      <div class="col-md w-em">
        <label for="name" class="form-label">Name</label>
        <input class="form-control form-control-sm" name="name" type="text" required="required">
      </div>
      <div class="col-md w-em">
        <label for="context-select" class="form-label">Context</label>
        <select class="form-select form-select-sm" id="context-select" name="context">
          <option v-for="(context, id) in store.contexts" :value="id">${context.name}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create</button>
  </form>
</div>


{% endblock %}
