{% macro sbitem(name, link, icon) %}
  <li class="nav-item">
    <a href="{{ link }}" class="nav-link align-middle {{'active' if request.url.path == link}}">
      <i class="bi bi-{{ icon }}"></i> <span class="ms-1 d-none d-sm-inline">{{ name }}</span>
    </a>
  </li>
{%- endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Algobattle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/static/scripts/styles.css">
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "base": "/static/scripts/base.js"
        }
      }
    </script>
    <script>
      var user = {{user | tojson}}
    </script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <div class="container-xxl">
      <div class="row">
        <div class="col-2 px-0">
          <div class="position-fixed vh-100 d-flex flex-column py-3 px-sm-3 text-bg-dark flex-fill flex-grow-1">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4 d-none d-sm-inline">Algobattle</span>
            </a>
            {% if user %}
            <hr class="d-none d-sm-inline">
            <ul class="nav nav-pills flex-column mb-auto mx-auto mx-sm-0" id="menu">
              {{ sbitem("Home", "/", "house") }}
              {{ sbitem("Problems", "/problems", "boxes") }}
              {{ sbitem("Programs", "/programs", "file-earmark-code") }}
              {{ sbitem("Documentation", "/documentation", "journal-text") }}
              {% if user.is_admin %}
              <hr>
              {{ sbitem("Users", "/admin/users", "person") }}
              {{ sbitem("Teams", "/admin/teams", "people") }}
              {{ sbitem("Configs", "/admin/configs", "sliders") }}
              {% endif %}
            </ul>
            <hr class="d-none d-sm-inline">
            <div class="dropup px-3 p-sm-0 btn">
              <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-2"></i> <strong class="d-none d-sm-inline">{{user.name}}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                {% if user.teams %}
                <li>
                  <a class="dropdown-item" href="/team">Team</a>
                </li>
                {% endif %}
                <li><a class="dropdown-item" href="/user">User</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form action="/logout" method="post">
                    <button class="dropdown-item" type="submit" name="LogoutButton" value="test">Log out</button>
                  </form>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="flex-fill"></div>
        </div>
        <div class="col-10 p-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script>
      /*addEventListener("DOMContentLoaded", (event) => {
        new bootstrap.Tooltip(document.body, {
          selector: '[data-bs-toggle="tooltip"]'
        })
      })*/
    </script>
  </body>
</html>