{% macro sbitem(name, link, icon) %}
  <li class="nav-item mx-2">
    <a href="{{ link }}" class="nav-link align-middle {{'active' if request.url.path == link}}" {{ "aria-current" if request.url.path == link }}>
      <i class="bi bi-{{ icon }}"></i> <span class="ms-1">{{ name }}</span>
    </a>
  </li>
{%- endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Algobattle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/static/scripts/styles.css">
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "base": "/static/scripts/base.js",
          "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js",
          "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.esm.min.js"
        }
      }
    </script>
    <script>
      var user = {{user | tojson}}
    </script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-md sticky-top bg-primary-subtle" data-bs-theme="dark">
      <div class="container-xxl">
        <a href="/" class="navbar-brand">
          <span class="fs-4">Algobattle</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-pills">
            {{ sbitem("Problems", "/problems", "boxes") }}
            {{ sbitem("Programs", "/programs", "file-earmark-code") }}
            {{ sbitem("Documentation", "/documentation", "journal-text") }}
            {{ sbitem("Schedule", "/schedule", "calendar-week") }}
            {{ sbitem("Results", "/results", "bar-chart-line") }}
            {% if user.is_admin %}
            <hr>
            {{ sbitem("Users", "/admin/users", "person") }}
            {{ sbitem("Teams", "/admin/teams", "people") }}
            {{ sbitem("Configs", "/admin/configs", "sliders") }}
            {% endif %}
          </ul>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle me-2"></i> <strong>{{user.name}}</strong>
            </a>
            <ul class="dropdown-menu">
              {% if user.teams %}
              <li><a class="dropdown-item" href="/team">Team</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/user">User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="/logout" method="post">
                  <button class="dropdown-item" type="submit" name="LogoutButton" value="test">Log out</button>
                </form>
              </li>
            </ul>
          </div>
          {% endif %}
        
        </div>
      </div>
    </nav>
    <div class="container-xxl p-5">
      {% block content %}
      {% endblock %}
    </div>
    <script>
      /*addEventListener("DOMContentLoaded", (event) => {
        new bootstrap.Tooltip(document.body, {
          selector: '[data-bs-toggle="tooltip"]'
        })
      })*/
    </script>
  </body>
</html>