{% extends "sidebar.jinja" %}
{% block content %}

<div class="row justify-content-center mt-5">
<div class="col-5">
    Algobattle home page<br>
    user: {{user}}
</div>
</div>

{% endblock %}
