{% extends "base.jinja" %}
{% block content_base %}

<div class="row justify-content-center mt-5">
<div class="col-5">
    <div class="alert alert-success" role="alert">
        We've sent you an email, click the link in it to login.
    </div>
</div>
</div>

{% endblock %}
