{% extends "base.jinja" %}
{% block content %}

<div class="col-10">
  <div class="alert alert-success" role="alert">
    We've sent you an email, click the link in it to login.
  </div>
</div>

{% endblock %}
