{% extends "base.jinja" %}
{% block content %}

<div class="row justify-content-center mt-5">
<div class="col-5">
    {% if error == 1 %}
    <div class="alert alert-danger" role="alert">
        Email is not registered to a user.
    </div>
    {% elif error == 2 %}
    <div class="alert alert-danger" role="alert">
        Invalid token.
    </div>
    {% elif error == 3 %}
    <div class="alert alert-danger" role="alert">
        Expired token.
    </div>
    {% endif %}

    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">email address</label>
            <input type="email" class="form-control" id="username" name="email" required="required" value="{{email}}">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</div>

{% endblock %}
