{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/problems.js" type="module"></script>
<script>
  const problems = {{problems | tojson}}
  const contexts = {{contexts | tojson}}
  const selected_context = {{selected_context | tojson}}
</script>


<script type="text/x-template" id="problem">
  <div class="card" style="width: 18rem;">
    <img v-if="problem.image" :src="problem.image.file" class="card-img-top" :alt="problem.image.alt">
    <div class="card-body">
      <h5 class="card-title">${problem.name}</h5>
      <p class="card-text">${problem.short_description}</p>
      <a :href="`/problems/${store.context[problem.context].name}/${problem.name}" class="btn btn-primary">View details</a>
    </div>
  </div>
</script>


<div id="app" v-cloak>
  {% if user.is_admin %}
  <h3>Upcoming</h3>
  <div class="d-flex flex-wrap">
    <problem v-for="(problem, id) in future_problems" :problem="problem" :key="id"></problem>
  </div>
  {% endif %}
  <h3>Current</h3>
  <div class="d-flex flex-wrap">
    <problem v-for="(problem, id) in current_problems" :problem="problem" :key="id"></problem>
  </div>
  <h3>Past</h3>
  <div class="d-flex flex-wrap">
    <problem v-for="(problem, id) in past_problems" :problem="problem" :key="id"></problem>
  </div>
</div>

{% endblock %}
