{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/problem_detail.js" type="module"></script>
<script>
  const problem = {{problem | tojson}}
  const contexts = {{contexts | tojson}}
</script>


<script type="text/x-template" id="fileEdit">
  <tr>
    <td><slot/></td>
    <td>
      <template v-if="file.location !== null">
        <a role="button" class="btn btn-primary btn-sm me-2" :href="file.location" title="File download">
          ${file.edit !== undefined ? "New" : "Current"} file<i class="bi bi-download ms-1"></i>
        </a>
        <button v-if="nullable" type="button" class="btn btn-sm btn-danger" @click="remove_file">Remove</button>
      </template>
    </td>
    <input type="file" class="form-control form-control-sm w-em" id="prob_file" ref="file_select" @change="select_file"/>
  </tr>
</script>


<script type="text/x-template" id="editWindow">
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" ref="user_modal">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
      <form class="modal-content" @submit.prevent="submit_edit">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">Edit problem</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="context_sel" class="form-label">Context</label>
              <select class="form-select w-em" id="context_sel" name="context" required v-model="problem.context" @change="check_name">
                <option v-for="(context, id) in store.contexts" :value="id">${context.name}</option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="mb-3">
              <label for="start_time" class="form-label">Starting time</label>
              <input type="datetime-local" name="start" class="form-control w-em" id="start_time" v-model="problem.start"/>
            </div>
            <div class="mb-3">
              <label for="prob_schema" class="form-label">Problem schema</label>
              <textarea class="form-control" name="problem_schema" id="prob_schema" rows="10" v-model="problem.problem_schema"></textarea>
            </div>

          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="prob_name" class="form-label">Name</label>
              <input type="text" class="form-control w-em" name="name" id="prob_name" v-model="problem.name" required @input="check_name" :class="{'is-invalid': error == 'name'}"/>
              <div class="invalid-feedback">
                A problem with this name already exists in this context.
              </div>
            </div>
            <div class="mb-3">
              <label for="end_time" class="form-label">Ending time</label>
              <input type="datetime-local" name="end" class="form-control w-em" id="end_time" v-model="problem.end"/>
            </div>
            <div class="mb-3">
              <label for="sol_schema" class="form-label">Solution schema</label>
              <textarea class="form-control" name="solution_schema" id="sol_schema" rows="10" v-model="problem.solution_schema"></textarea>
            </div>

          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">File</th>
                <th scope="col">Upload new file</th>
              </tr>
            </thead>
            <tbody>
              <tr is="vue:file-edit" :nullable="false" :file="problem.file">Problem</tr>
              <tr is="vue:file-edit" :nullable="false" :file="problem.config">Config</tr>
              <tr is="vue:file-edit" :nullable="true" :file="problem.description">Description</tr>
              <tr is="vue:file-edit" :nullable="true" :file="problem.image">Image</tr>
            </tbody>
          </table>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="short_desc" class="form-label">Image alt text</label>
              <textarea class="form-control w-em" name="alt" id="alt_text" rows="5" v-model="problem.image.alt"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="short_desc" class="form-label">Short description</label>
              <textarea class="form-control w-em" name="short_description" id="short_desc" rows="5" v-model="problem.short_description"></textarea>
            </div>
          </div>
          <div class="mb-3">
            <label for="prob_col" class="form-label">Problem colour</label>
            <input type="color" name="colour" class="form-control form-control-color" id="prob_col" v-model="problem.colour"/>
          </div>
        </div>
        <div class="modal-footer">
          <button v-if="confirm_delete" type="button" class="btn btn-secondary" @click="confirm_delete = false">Cancel</button>
          <button type="button" class="btn btn-danger ms-2" @click="delete_problem">
            ${confirm_delete ? "Confirm deletion" : "Delete Problem"}
          </button>
          <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Discard</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</script>


<div id="app" v-cloak>
  <nav id="navbar" class="navbar bg-body-tertiary px-3 mb-3 sticky-top" style="top: 62px">
    <a class="navbar-brand" href="#">
      ${problem.name} {% if user.is_admin %}
          (${store.contexts[problem.context].name})
        {% endif %}
    </a>
    <ul class="nav nav-pills">
      <li v-if="problem.description" class="nav-item">
        <a class="nav-link" href="#description">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#details">Details</a>
      </li>
      <li v-if="problem.problem_schema" class="nav-item">
        <a class="nav-link" href="#problem_schema">Problem schema</a>
      </li>
      <li v-if="problem.solution_schema" class="nav-item">
        <a class="nav-link" href="#solution_schema">Solution schema</a>
      </li>
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="bg-body-tertiary p-3 rounded-2" tabindex="0">
    <img v-if="problem.image" :src="problem.image.location" :alt="problem.image.alt_text" class="object-fit-cover border rounded mb-4" style="width: 100%;">
    <template v-if="problem.description">
      <h4 id="description" class="mt-5">Description</h4>
      {% if description == "__DOWNLOAD_BUTTON__" %}
        <a role="button" class="btn btn-primary btn-sm" :href="problem.description.location" title="Download file">Download description file <i class="bi bi-download ms-1"></i></a>
      {% elif description is not none %}
        {{ description | safe }}
      {% endif %}
    </template>
    <h4 id="details" class="mt-5">Details</h4>
    <p class="row">
      <ul class="list-group list-group-flush bg-body-tertiary w-em">
        <li v-if="problem.start" class="list-group-item bg-body-tertiary">Start: ${fmt_date(problem.start)}</li>
        <li v-if="problem.end" class="list-group-item bg-body-tertiary">End: ${fmt_date(problem.end)}</li>
        <li class="list-group-item bg-body-tertiary">
          <a role="button" class="btn btn-primary btn-sm" :href="problem.file.location" title="Download problem file">Download problem file <i class="bi bi-download ms-1"></i></a>
        </li>
        <li class="list-group-item bg-body-tertiary">
          <a role="button" class="btn btn-primary btn-sm" :href="problem.config.location" title="Download config file">Download config file <i class="bi bi-download ms-1"></i></a>
        </li>
        <li class="list-group-item bg-body-tertiary">
          <a role="button" class="btn btn-primary btn-sm" :href="`/api/problem/${problem.id}/download_all`" title="Download all files">Download all files <i class="bi bi-download ms-1"></i></a>
        </li>
        <li class="list-group-item bg-body-tertiary">
          <button role="button" class="btn btn-warning btn-sm" title="Edit problem" @click="open_modal">Edit <i class="bi bi-pencil ms-1"></i></a>
        </li>
      </ul>
    </p>
    <template v-if="problem.problem_schema">
      <h4 id="problem_schema" class="mt-5">Problem schema</h4>
      <pre><code>${problem.problem_schema}</code></pre>
    </template>
    <template v-if="problem.solution_schema">
      <h4 id="solution_schema" class="mt-5">Solution schema</h4>
      <pre><code>${problem.solution_schema}</code></pre>
    </template>
  </div>

  <edit-window :problem="edit_data" :modal="modal"></edit-window>
</div>


{% endblock %}
