{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/problem_create.js" type="module"></script>
<link rel="stylesheet" href="/static/styles/problem_create.css">
<script>

</script>


<div id="app" v-cloak>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col mx-0" style="max-width: 40rem;">
        <h2 class="mb-5 text-center"><strong>Create new problem</strong></h2>
        <ul id="progressbar" class="text-center ps-0">
          <li class="first" :class="{active: form_index == 0, set: form_index > 0}">
            <i class="bi bi-file-earmark-code progress-icon"></i>
            <strong>Problem</strong>
          </li>
          <li :class="{active: form_index == 1, set: form_index > 1}">
            <i class="bi bi-journal-text progress-icon"></i>
            <strong>Documentation</strong>
          </li>
          <li :class="{active: form_index == 2, set: form_index > 2}">
            <i class="bi bi-calendar-week progress-icon"></i>
            <strong>Schedule</strong>
          </li>
          <li :class="{active: form_index == 3, set: form_index > 3}">
            <i class="bi bi-image progress-icon"></i>
            <strong>Display</strong>
          </li>
        </ul>
        <div class="card">
          <form id="file_form" @submit.prevent="send_file" class="card-body" v-if="form_index == 0" novalidate>
            <h2 class="fs-title mb-3">Problem file</h2>
            <div class="alert alert-danger" role="alert" v-if="error == 'missing'">
              Select either a problem file to upload, or an already existing problem to copy.
            </div>
            <div class="alert alert-danger" role="alert" v-if="error == 'duplicate'">
              You can only select one source for the problem file at once.
            </div>
            <div class="alert alert-danger" role="alert" v-if="error == 'file'">
              The uploaded file does not contain a valid problem class.
            </div>
            <label for="prob_file" class="form-label">Upload a new problem file</label>
            <input type="file" name="file" class="form-control w-em mb-2" id="prob_file" ref="prob_file_select" @change="$refs.prob_id_select.value = null"/>
            <label for="prob_select" class="form-label">Or use an already existing one</label>
            <select class="form-select w-em" id="prob_select" name="problem_id" @change="$refs.prob_file_select.value = null" ref="prob_id_select">
              <option selected :value="null"></option>
              <option>Test</option>
            </select>
            <div class="d-flex mt-3">
              <button class="btn btn-primary ms-auto" type="submit" class="next action-button" value="Next Step">Next</button>
            </div>
          </form>
          <form id="other_form">
            <div class="card-body" v-if="form_index == 1">
            
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
