{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/problems.js" type="module"></script>
<script>
  const problems = {{problems | tojson}}
  const contexts = {{contexts | tojson}}
  const selected_context = {{selected_context | tojson}}
</script>


<script type="text/x-template" id="problem">
  <div class="card m-2 border border-5" style="width: 18rem; height: 24rem;" :style="{borderColor: problem.colour + ' !important'}">
    <img v-if="problem.image" :src="image_url" class="card-img-top" style="height: 10rem; object-fit: contain" :alt="problem.image.alt">
    <div class="card-body">
      <h5 class="card-title">${problem.name}</h5>
      <p class="card-text overflow-hidden">${problem.short_description}</p>
      <a :href="problem_url" class="btn btn-primary">View details</a>
    </div>
  </div>
</script>


<div id="app" v-cloak>
  {% if user.is_admin %}
  <div class="mb-5">
    <label for="context_select" class="form-label">Select context</label>
    <select id="context_select" class="form-select w-em" v-model="store.selected_context">
      <option :value="null" selected>All</option>
      <option v-for="(context, id) in store.contexts" :value="id">${context.name}</option>
    </select>
  </div>

  <h3>Upcoming</h3>
  <div class="d-flex flex-wrap mb-5">
    <problem v-for="(problem, id) in future_problems" :problem="problem" :key="id"></problem>
    <div class="card border border-success-subtle" style="width: 18rem; height: 24rem;">
      <img src="/static/images/default_problem.png" style="height: 10.125rem; object-fit: contain" class="card-img-top" alt="">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title mb-auto">New problem</h5>
        <a href="/problems/create" class="btn btn-success mt-auto">Create</a>
      </div>
    </div>
  </div>
  {% endif %}
  <h3 v-if="Object.keys(current_problems).length != 0">Current</h3>
  <div class="d-flex flex-wrap mb-5">
    <problem v-for="(problem, id) in current_problems" :problem="problem" :key="id"></problem>
  </div>
  <h3 v-if="Object.keys(past_problems).length != 0">Past</h3>
  <div class="d-flex flex-wrap">
    <problem v-for="(problem, id) in past_problems" :problem="problem" :key="id"></problem>
  </div>
</div>

{% endblock %}
