{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/programs.js" type="module"></script>
<script>
  const programs = {{programs | tojson}}
  const problems = {{problems | tojson}}
  const roles = {{ roles | tojson }}
  {% if user.is_admin %}
  const teams = {{ teams | tojson }}
  {% endif %}
</script>


<script type="text/x-template" id="program">
  <div class="accordion-item">
    <h2 class="accordion-header" :id="'heading' + program.name">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + program.name" aria-expanded="false" :aria-controls="'collapse' + program.name">
        ${program.name}
      </button>
    </h2>
    <div :id="'collapse' + program.name" class="accordion-collapse collapse" :aria-labelledby="'heading' + program.name" data-bs-parent="#programs">
      <form class="accordion-body" @submit.prevent="edit">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                <input v-if="editing" class="form-control form-control-sm" name="name" type="text" v-model="program.name">
                <span v-else>${program.name}</span>
              </td>
            </tr>
            {% if user.is_admin %}
            <tr>
              <td>Team</td>
              <td>
                <select v-if="editing" class="form-select form-select-sm" name="team">
                  <option v-for="(team, id) in store.teams" :value="id" :selected="id == program.team">${team.name}</option>
                </select>
                <div v-else>
                  ${store.teams[problem.team].name}
                </div>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td>Role</td>
              <td>
                <select v-if="editing" class="form-select form-select-sm" name="role">
                  <option v-for="role in store.roles" :value="role" :selected="role == program.role">${role}</option>
                </select>
                <div v-else>
                  ${program.role}
                </div>
              </td>
            </tr>
            <tr>
              <td>Problem</td>
              <td>
                <select v-if="editing" class="form-select form-select-sm" name="team">
                  <option v-for="(problem, id) in store.problems" :value="id" :selected="id == program.problem">${problem.name}</option>
                </select>
                <div v-else>
                  ${store.problems[program.problem].name}
                </div>
              </td>
            </tr>
            <tr>
              <td>Creation time</td>
              <td>${fmt_date(program.creation_time)}</td>
            </tr>
            <tr>
              <td>File</td>
              <td>
                <a role="button" class="btn btn-primary btn-sm" :href="'/api/program/getfile/'+program.id" data-bs-toggle="tooltip" title="Download file">${program.file.name} <i class="bi bi-download"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-if="store.user.is_admin || !problem.locked" class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete" v-if="editing" @click="remove"><i class="bi bi-trash"></i></button>
          <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
          <button type="submit" class="btn btn-success" data-bs-toggle="tooltip" title="Submit edit" v-if="editing"><i class="bi bi-check2"></i></button>
        </div>
      </form>
    </div>
  </div>
</script>


<div id="app">
  <h3>Programs</h3>
  <div class="accordion" id="programs">
    <Program v-for="(program, id) in store.programs" :key="id" :program="program"></Program>
    {% if user.is_admin %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="create">
        <button class="accordion-button collapsed bg-success bg-opacity-25" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecreate" aria-expanded="false" aria-controls="collapsecreate">
          Upload new program
        </button>
      </h2>
      <div id="collapsecreate" class="accordion-collapse collapse" aria-labelledby="headingcreate" data-bs-parent="#programs">
        <form class="accordion-body" @submit.prevent="create_program">
          <table class="table">
            <tbody>
              <tr>
                <td>Name</td>
                <td>
                  <input class="form-control form-control-sm w-em" name="name" type="text" required="required">
                </td>
              </tr>
              <tr>
                <td>Role</td>
                <td>
                  <select class="form-select form-select-sm w-em" name="role">
                    <option v-for="role in store.roles" :value="role">${role}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Problem</td>
                <td>
                  <select class="form-select form-select-sm w-em" name="config">
                    <option v-for="(problem, id) in store.problems" :value="id">${problem.name}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>File</td>
                <td>
                  <input class="form-control form-control-sm w-em" name="file" type="file" required="required">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary mt-3">Upload</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
