{% extends "base.jinja" %}
{% block content %}

<script src="/static/scripts/user.js" type="module"></script>
<script>
  const teams = {{ teams | tojson }}
  const settings = {{ settings | tojson }}
</script>

<div id="app" class="w-xs">
  <div class="d-flex justify-content-between">
    <h3>User data</h3>
    <button type="button" class="btn btn-sm btn-warning float-end" data-bs-toggle="tooltip" title="Edit" @click="toggle_editing"><i class="bi bi-pencil"></i></button>
  </div>
  <form @submit.prevent="edit_data">
    <table class="table">
      <tr>
        <td>Email address</td>
        <td>
          <input v-if="editing" class="e-em form-control form-control-sm" name="email" type="email" v-model="store.user.email">
          <div v-else>${store.user.email}</div>
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          <input v-if="editing" class="e-em form-control form-control-sm" name="name" type="text" v-model="store.user.name">
          <div v-else>${store.user.name}</div>
        </td>
      </tr>
    </table>
    <button v-if="editing" type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h3 class="mt-5">Settings</h3>
  <form @submit.prevent="submit_settings">
    <label for="team" class="form-label">Selected team</label>
    <select class="form-select form-select-sm w-em" name="selected_team" required="required" v-model="store.settings.selected_team">
      <option v-for="(team, id) in store.teams" :value="id">${team.name}</option>
    </select>
    <button type="submit" class="btn btn-primary my-3">Submit changes</button>
  </form>
</div>

{% endblock %}
