
#progressbar {
    overflow: hidden;
    color: lightgrey;
}

#progressbar .set, #progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar i.progress-icon {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:not(.first):after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    top: 25px;
    z-index: -1;
    right: 50%;
}

#progressbar .active i.progress-icon, #progressbar li.active:after {
    background: mediumturquoise;
}

#progressbar .set i.progress-icon, #progressbar li.set:after {
    background: steelblue;
}
